/* ==========================================================================
   COMPONENTS/_BLOG.SCSS
   ========================================================================== */

.blog .featured-slider,
.blog .social-slider,
.blog-navigation {
	display: none;
}
.blog-posts {
	.blog-post {
		padding-bottom: 40px;

		&.post-1 {
			padding-top: 40px;
			background: $white url('../img/bg-grey-triangles.png') center center;
		}
		&.post-3 {
			background: $white url('../img/bg-grey-circles.png') center center;
		}
		&.post-5 {
			background: $white url('../img/bg-grey-triangles-details.png') center center;
		}
		&.post-7 {
			background: $white url('../img/bg-grey-triangles.png') center center;
		}
	}
}
.blog-post {
	padding-bottom: 20px;
	text-align: center;

	.post-wrapper {
		.post-image {
			width: 100%;
			margin-bottom: 10px;

			a.post-link {
				img {
					width: 100%;
					border-top: 1px solid $black;
					border-bottom: 1px solid $black;
					background-color: $white;
				}
			}
			.post-share {
				display: none;
			}
		}
		.post-meta {
			text-transform: uppercase;
			margin-bottom: 10px;
			line-height: 1em;
			
			a {
				color: $gray;

				&:hover,
				&:focus,
				&.selected {
					color: $grayLight;
				}
			}
		}
		.post-title {
			padding: 0 20px;

			a {
				&:hover h3,
				&:focus h3,
				&.selected h3 {
					color: $green;
				}
			}
		}
		.post-excerpt {
			display: none;
		}
	}
}
.pagination {
	text-align: center;
	padding: 20px;

	.page-numbers {
		font-size: 2.4em;
		font-family: $neuronBlack;
		font-style: italic;
		padding: 2px 8px;
		margin: 0 2px;
	}
	a.page-numbers {
		color: $white;
		background: $black;

		&:hover,
		&:focus {
			background: $blue;
		}
	}
	a.next,
	a.prev {
		background: $white;
		color: $black;

		&:hover,
		&:focus {
			background: $white;
			color: $purple;
		}
	}
}
/* Single Post */
.blog-post-details {
	padding: 40px 0;

	.post-title {
		padding: 0 20px;
		text-align: center;
		margin-bottom: 20px;
	}
	.post-meta {
		padding: 0 20px;
		text-align: center;
		margin-bottom: 20px;
		font-family: $neuron;
		font-weight: bold;
		color: $gray;
		font-size: 1.8em;
		text-transform: uppercase;

		a {
			color: $gray;

			&:hover,
			&:focus {
				color: $grayLight;
			}
		}
	}
	.post-content {
		p, h1, h2, h3, h4, h5, h6 {
			padding: 0 20px;
		}
		h1, h2, h3, h4, h5, h6 {
			margin-bottom: 0.5em;
			text-align: center;
		}
		blockquote {
			margin: 0 40px;

			p {
				padding-left: 10px;
			}
		}
		.post-video {
			margin-bottom: 20px;
			border-top: 1px solid $black;
			border-bottom: 1px solid $black;
			background: $black url('../img/loading-black.gif') no-repeat center center;
		}
		ul,
		ol {
			padding: 0 20px 0 60px;
			margin-bottom: 2em;
			list-style: square;

			li {
				font-family: $neuronLight;
				font-size: 1.8em;
				font-weight: 700;
				line-height: 2em;
				margin-bottom: 0.5em;
			}
		}
		ol {
			list-style: decimal;
		}
		img {
			border: 1px solid $black;
			display: block;
			margin-left: auto;
			margin-right: auto;

			&.alignnone,
			&.aligncenter,
			&.alignleft,
			&.alignright {}
		}
		.wp-caption {
			width: auto !important;
			max-width: 710px;
			margin: 0 auto;
			text-align: center;

			.wp-caption-text {
				max-width: 640px;
			}
		}
	}
	.post-categories {
		padding: 0 20px;
		font-family: $neuron;
		font-weight: bold;
		color: $gray;
		font-size: 1.8em;
		text-transform: uppercase;
		line-height: 1.4em;

		a {
			background: $black;
			color: $white;
			padding: 0 5px;
			white-space: nowrap;

			&:hover,
			&:focus {
				color: $purple;
			}
		}
	}
	.post-share {
		text-align: left;
		padding: 20px 10px 0;
	}
}
.single-post .featured-posts .more-news {
	display: none;
}

@media screen and (min-width: $breakpoint-medium) {
	.blog .featured-slider,
	.blog .social-slider,
	.blog-navigation {
		display: block;
	}
	.blog-navigation {
		background: $black url('../img/bg-overview-title.png') center center;
		width: 100%;

		.nav-container {
			display: table;
			text-align: center;
			width: 100%;

			ul {
				height: 40px;
				display: table-cell;
				vertical-align: middle;

				li {
					display: inline-block;
					padding: 0 20px;

					a {
						color: $white;
						text-transform: uppercase;

						&.mens:hover,
						&.mens:focus {
							color: $yellow;
						}
						&.womens:hover,
						&.womens:focus {
							color: $green;
						}
						&.events:hover,
						&.events:focus {
							color: $pink;
						}
						&.product:hover,
						&.product:focus {
							color: $blue;
						}
						&.art:hover,
						&.art:focus {
							color: $purple;
						}
					}
				}
			}
		}
	}
	.blog-posts {
		.blog-post {
			padding-top: 40px;

			&.post-3 {
				padding-top: 40px;
			}
			.post-wrapper {
				.post-image {
					position: relative;
					width: 492px;
					margin-left: auto;
					margin-right: auto;

					a.post-link img {
						width: 490px;
						border: 1px solid $black;
					}
					.post-share {
						display: block;
						position: absolute;
						top: 50%;
						left: -74px;
						background: $white;
						border: 1px solid $blue;
						border-right: none;
						height: 132px;
						width: 75px;
						padding-top: 10px;
						margin-top: -66px;

						li {
							height: 30px;

							&.title {
								position: absolute;
								top: -25px;
								left: 20px;
							}
						}
					}
				}
				.post-title {
					padding: 0;
					width: 640px;
					margin: 0 auto;
				}
				.post-excerpt {
					display: block;
					width: 640px;
					margin: 0 auto;
					text-align: left;
				}
			}
		}
	}
	/* Single Post */
	.blog-post-details {
		max-width: 900px;
		margin: 0 auto;

		.post-meta {
			font-size: 2.4em;
		}
		.post-content {
			p {
				padding: 0 20px;
			}
			.post-video {
				max-width: 710px;
				margin: 0 auto 20px;
				border: 1px solid $black;
			}
			blockquote {
				margin: 0 60px;

				p {
					padding-left: 20px;
				}
			}
			img {
				border: 1px solid $black;
				max-width: 710px;

				&.alignnone,
				&.aligncenter {
					display: block;
					margin-left: auto;
					margin-right: auto;
				}
				&.alignleft {
					float: left;
					margin: 0 20px 20px 0;
				}
				&.alignright {
					float: right;
					margin: 0 0 20px 20px;
				}
			}
			.wp-caption {
				&.alignright {
					float: right;
					margin: 0 0 20px 20px;
				}
				&.alignleft {
					float: left;
					margin: 0 20px 20px 0;
				}
			}
			.first-image {
				text-align: center;

				img {
					display: inline-block;
					margin-left: auto;
					margin-right: auto;
					float: none;
					margin: 0;
				}
			}
		}
		.post-share li.title {
			display: none;
		}
	}
}
@media screen and (min-width: $breakpoint-large) {
	.blog-posts {
		.blog-post {
			.post-wrapper {
				.post-image {
					width: 602px;

					a.post-link img {
						width: 600px;
					}
				}
				.post-title {
					width: 720px;
				}
				.post-excerpt {
					width: 720px;
				}
			}
		}
	}
	/* Single Post */
	.blog-post-details {
		padding: 60px 0;

		.post-share {
			position: absolute;
			top: 300px;
			left: 0;
			background: $white;
			border: 1px solid $blue;
			border-left: none;
			height: 132px;
			width: 75px;
			padding: 10px 0 0;
			text-align: center;

			li {
				height: 30px;

				&.title {
					display: block;
					position: absolute;
					top: -25px;
					left: 10px;
				}
			}
		}
	}
}