/* ==========================================================================
   COMPONENTS/_FOOTER.SCSS
   ========================================================================== */

.site-footer {
	background: $white url('../img/bg-horizontal-color.png') no-repeat;
	padding-top: 4px;
	background-size: 100% 4px;

	.footer-wrapper {
		background: url('../img/bg-footer.png');
		padding-bottom: 10px;
		// padding: 10px 20px;
	}
	.footer-content {
		color: $white;
		max-width: 360px;
		margin: 0 auto;

		.footer-menu {
			text-transform: uppercase;

			.nav-group {
				width: 50%;
				float: left;
				padding: 10px 0 30px 20px;

				h3 {}
				.nav-menu {
					.menu-item {
						a {
							color: $white;
							font-size: 1.4em;
							line-height: 1.33em;
						}
					}
				}
			}
		}
		.region-social-wrapper {
			clear: both;
		}
		.region-toggle {
			text-transform: uppercase;
			text-align: center;
			padding-bottom: 20px;

			h5 {}
			a {
				color: $white;

				img {
					display: none;
				}
			}
		}
		p {
			margin: 0;
			text-align: center;

			span {
				display: block;
			}
		}
	}
}
.social-icons {
	text-align: center;
	padding-bottom: 20px;

	.menu-item {
		display: inline-block;
		padding: 0 5px;

		a {
			display: block;
			width: 26px;
			height: 30px;
			background: url('../img/sprite.png');

			&.icon-facebook {
				background-position: -10px -112px; 
			}
			&.icon-twitter {
				background-position: -40px -112px; 
			}
			/* &.icon-pinterest {
				background-position: -70px -112px; 
			} */
			&.icon-vimeo {
				background-position: -100px -112px; 
			}
			&.icon-rss {
				background-position: -130px -112px; 
			}
			&.icon-instagram {
				background-position: -160px -112px; 
			}
		}
	}
}
@media screen and (min-width: $breakpoint-medium) {
	.site-footer .footer-content {
		max-width: 100%;

		.footer-menu .nav-group {
			width: 25%;
			float: left;
		}
		.region-social-wrapper {
			padding: 0 10%;

			.region-toggle,
			.social-icons {
				width: 50%;
				float: left;
			}
			.social-icons {
				padding-top: 20px;
			}
		}
		p span {
			display: inline;
		}
	}
}
@media screen and (min-width: $breakpoint-large) {
	.site-footer .footer-content {
		max-width: 1032px;

		.footer-menu {
			width: 70%;

			.nav-group {}
		}
		.region-social-wrapper {
			width: 30%;
			float: left;
			clear: none;
			padding: 30px 0 0;

			.region-toggle,
			.social-icons {
				width: 100%;
				padding: 0;
			}
			.social-icons {
				padding-top: 20px;
			}
		}
	}
}
