/* ==========================================================================
   COMPONENTS/_GLOBAL.SCSS
   ========================================================================== */

.site-main {
	//
}
.section-spacer {
	height: 10px;
	background: url('../img/bg-grey-triangles.png') repeat;
}
.price p {
	display: none;

	&.active {
		display: block;
		margin: 0;
	}
	span {
		font-size: 0.5em;
		font-style: italic;
	}
}
.loading {
	width: 100px;
	height: 50px;
	background: url("../img/loading.gif") no-repeat top left;
	display: block;
}
#disqus_thread {
	padding: 10px 20px;
	max-width: $breakpoint-large;
	margin: 0 auto;
}
@media screen and (min-width: $breakpoint-medium) {
	.site-main {
		padding-top: 75px;
	}
	.active-takeover .site-main {
		padding-top: 484px;
	}
	/* fix for fixed header, adds spacing to div you have anchor links to */
	.deeplink-top-fix:before {
		display: block;
		content: "";
		height: 75px;
		margin: -75px 0 0;
		z-index: -1;
		position: relative;
	}
}
@media screen and (min-width: $breakpoint-large) {
	.site-main {
		padding-top: 55px;
	}
	/* fix for fixed header, adds spacing to div you have anchor links to */
	.deeplink-top-fix:before {
		display: block;
		content: "";
		height: 55px;
		margin: -55px 0 0;
	}
}