/* ==========================================================================
   COMPONENTS/_PARTNERS.SCSS
   ========================================================================== */

.partners {
	.content {
		padding: 20px;

		.partner-list {
			.partner {
				max-width: 320px;
				margin: 0 auto;
				padding-bottom: 40px;

				.partner-images {
					width: 38%;
					float: left;
					padding-right: 20px;

					.partner-image {
						&.logo {
							display: block;
						}
					}
				}
				.partner-title {
					width: 62%;
					float: right;
					margin-bottom: 10px;
				}
				.partner-description {
					width: 62%;
					float: right;
					margin-bottom: 0;

					p {
						margin-bottom: 1em;

						.category {
							text-transform: uppercase;
							font-weight: 700;
							margin-right: 0.5em;
						}
					}
					.partner-link {
						text-align: center;
					}
				}
			}
		}
	}
}
@media screen and (min-width: $breakpoint-medium) {
	.partners {
		
		.content {
			max-width: $breakpoint-medium;
			margin: 0 auto;
			padding: 20px 10px;

			.partner-list {
				.partner {
					margin-top: -95px;
					padding: 95px 10px 40px;
					width: 362px;
					max-width: none;
					display: inline-block;
					vertical-align: top;

					.partner-images {
						width: 35%;
					}
					.partner-title {
						width: 65%;
					}
					.partner-description {
						width: 65%;
					}
				}
			}
		}
	}
}
@media screen and (min-width: $breakpoint-large) {
	.partners .content .partner-list .partner {
		padding-top: 75px;
		margin-top: -75px;
	}
}