/* ==========================================================================
   COMPONENTS/_PRODUCT-DETAILS.SCSS
   ========================================================================== */

.product-title,
.product-slogan,
.product-sizes,
.product-note,
.product-price {
	padding: 0 20px;
	text-align: center;
}
.product-title {
	margin: 18px 0;
}
.product-slogan {
	margin-bottom: 25px;
}
.product-images {
	margin-bottom: 18px;

	.image-list {
		.product-image {
			display: none;

			&:first-child {
				display: block;
			}
		}
	}
	

	.owl-carousel {
		display: block;

		.owl-item {
			visibility: hidden;

			&.active,
			&.animated {
				visibility: visible;
			}
			.product-image {
				display: block;
			}
		}
		.owl-dots {
			display: none;
		}
	}
}
.product-sizes {
	margin-bottom: 30px;

	p span {
		padding: 0 3px;

		&.size-title {
			font-weight: 700;
		}
	}
}
.product-thumbnails {
	margin-bottom: 20px;

	&.hidden {
		display: none;
	}
	.image-list {
		text-align: center;

		.product-thumbnail {
			width: 105px;
			display: inline-block;

			a img {

			}
		}
	}
}
.product-note {
	margin-bottom: 40px;
}
.product-awards {
	margin-bottom: 20px;

	ul {
		text-align: center;

		li {
			display: inline-block;
			padding: 0 5px;

			img {
				width: 70px;
			}
			.tool-tip {
				display: none;
			}
		}
	}
}
.product-price {
	margin-bottom: 20px;

	p {
		line-height: 1em;
		font-size: 3.6em;
	}
}
.product-buy {
	text-align: center;
	margin-bottom: 40px;

	.product-available {
		display: none;

		.form {
			margin-bottom: 10px;

			.product-variation {
				border-radius: 0px;
				vertical-align: baseline;
				padding: 0 10px;
			}
			.btn-submit {
				font-size: 2.4em;
				border: 1px solid $black;
				padding: 0 10px;
			}
		}
		.loading {
			display: inline-block;
		}
		.failure {
			padding: 0 20px;
		}
		.form.hidden,
		.loading.hidden,
		.failure.hidden {
			display: none;
		}
	}
	.product-unavailable {
		display: none;
	}
	&.available .product-available {
		display: block;
	}
	&.unavailable .product-unavailable {
		display: block;
	}
	.dealer-link {
		margin-bottom: 10px;
	}
	.shopatron-secure {}
}
.product-share {
	display: none;
}
.product-navigation {
	background: $black url('../img/bg-overview-title.png') center center;
	width: 100%;

	.nav-container {
		display: table;
		text-align: center;
		width: 100%;

		ul {
			height: 40px;
			display: table-cell;
			vertical-align: middle;

			li {
				display: inline-block;
				padding: 0 8px;

				a {
					color: $white;
					text-transform: uppercase;

					&.info:hover,
					&.info:focus {
						color: $yellow;
					}
					&.tech:hover,
					&.tech:focus {
						color: $green;
					}
					&.video:hover,
					&.video:focus {
						color: $pink;
					}
					&.specs:hover,
					&.specs:focus {
						color: $blue;
					}
				}
			}
		}
	}
}
.product-info {
	background: $white url('../img/bg-grey-triangles-details.png') center center;
	padding: 40px 20px;

	h3, .h3 {
		text-align: center;
		margin-bottom: 0.5em;

		&:last-child {
			margin-bottom: 0;
		}
	}
	p {
		margin-bottom: 1em;

		&:last-child {
			margin-bottom: 0;
		}
	}
	ul li {
		text-align: center;
		font-family: $neuronLight;
		font-size: 1.8em;
		font-weight: 700;
		margin-bottom: 1em;
		text-transform: uppercase;
	}
}
.product-technology {
	.h1 {
		text-align: center;
		padding: 40px 20px;
	}
	.tech-major {
		padding: 0 20px;
		max-width: 320px;
		margin: 0 auto;

		li {
			margin-bottom: 40px;

			.title {
				width: 60%;
				float: right;
				margin-bottom: 10px;
			}
			.icon {
				width: 40%;
				float: left;
				padding-right: 20px;
			}
			.description {
				width: 60%;
				float: right;
				margin-bottom: 0;
			}
		}
	}
	.tech-minor {
		padding: 0 20px;
		max-width: 320px;
		margin: 0 auto;

		li {
			margin-bottom: 40px;

			.title {
				margin-bottom: 10px;
			}
			.description {
				margin-bottom: 0;
			}
		}
	}
}
.product-video {
	padding: 40px 0;
	background: $white url('../img/bg-grey-triangles.png') center center;
}
.product-specifications {
	background: $black url('../img/bg-overview-title.png') center center;
	color: $white;

	.specs-title {
		text-align: center;
		padding: 20px 20px 10px;
		max-width: 320px;
		margin: 0 auto;
	}
	.spec-navigation {
		text-align: center;
		padding: 0 10px 20px;
		max-width: 320px;
		margin: 0 auto;

		li {
			display: inline-block;
			margin-bottom: 5px;

			a {
				color: $white;
				padding: 5px;
				display: block;

				&:hover,
				&:focus,
				&.active {
					color: $black;
					background: $white;
				}
			}
		}
	}
	.spec-listing {
		padding: 0 20px 10px;
		max-width: 320px;
		margin: 0 auto;
		display: none;

		&.active {
			display: block;
		}
		.group-1,
		.group-2,
		.group-3 {
			clear: both;
			float: left;
			width: 100%;
		}
		p {
			clear: both;
			margin: 0;
			line-height: 1em;
			height: 30px;

			.spec-title {
				width: 50%;
				float: left;

				.spec-small {
					font-size: .6em;
				}
			}
			.spec-value {
				width: 50%;
				float: left;
				text-align: right;
			}
		}
	}
}
@media screen and (min-width: $breakpoint-small) {
	.product-awards-price {
		position: relative;

		.product-awards {
			position: absolute;
			top: -20px;
			right: 15px;

			ul li {
				padding: 0;
			}
		}
	}
	.product-buy {
		position: relative;
		margin-bottom: 60px;

		.product-available {
			.form {
				padding: 0 20px;

				.product-variation {
					width: 65%;
				}
				.btn-submit {
					width: 35%;
				}
			}
		}
		.shopatron-secure {
			position: absolute;
			bottom: -15px;
			right: 20px;
			margin: 0;
		}
	}
	.product-navigation .nav-container ul li {
		padding: 0 20px;
	}
	.product-technology {
		.tech-major,
		.tech-minor {
			padding: 0;
		}
	}
	.product-specifications {
		.specs-title,
		.spec-navigation {
			max-width: $breakpoint-small;
		}
		.spec-listing {
			max-width: $breakpoint-small;
			padding: 0 0 10px;

			.group-1,
			.group-2,
			.group-3 {
				clear: none;
				float: none;

				p {
					clear: none;
					padding: 0 20px;
					height: 40px;
				}
			}
			.group-1 p,
			.group-2 p:nth-child(1) {
				width: 50%;
				float: left;
			}
			.group-2 p:nth-child(2),
			.group-2 p:nth-child(3),
			.group-3 p {
				width: 50%;
				float: right;
			}
		}
	}
}
@media screen and (min-width: $breakpoint-medium) {
	.product-main {
		.product-images {
			position: relative;
			max-width: 800px;
			margin: 0 auto 18px;

			.zoom-icon {
				position: absolute;
				top: 20px;
				right: 100px;
			}
		}
		&.zoom-active {
			.product-title,
			.product-slogan,
			.product-sizes,
			.product-thumbnails,
			.product-note,
			.product-awards-price,
			.product-buy,
			.product-share {
				display: none;
			}
			.product-images {
				max-width: none;
				text-align: center;
				padding-bottom: 20px;

				.owl-carousel .owl-dots {
					display: block;
				}
			}
		}
	}
	.product-awards-price {
		width: 520px;
		margin: 0 auto;
	}
	.product-buy {
		width: 520px;
		margin: 0 auto;

		.product-available {
			.form {
				.product-variation {
					font-size: 4em;
					width: 50%;

					option.selectable-option {
						font-size: 0.7em;
					}
				}
				.btn-submit {
					font-size: 4em;
					width: 50%;
				}
			}
		}
		.dealer-link .h5 {
			font-size: 2.4em;
		}
	}
	.product-share {
		display: block;
		padding: 10px 10px 30px;
		text-align: center;

		li {
			padding: 0 10px;
			display: inline-block;
			vertical-align: top;
		}
	}
	.product-navigation .nav-container ul li {
		padding: 0 40px;

		a {
			vertical-align: top;

			.nav-icon {
				display: inline-block;
				width: 25px;
				height: 25px;
				background-image: url('../img/sprite.png');
				margin-left: 10px;
			}
			&.info {
				.nav-icon {
					background-position: -10px -151px;
				}
				&:hover,
				&:focus {
					.nav-icon {
						background-position: -150px -151px;
					}
				}
			}
			&.tech {
				.nav-icon {
					background-position: -46px -151px;
				}
				&:hover,
				&:focus {
					.nav-icon {
						background-position: -186px -151px;
					}
				}
			}
			&.video {
				.nav-icon {
					background-position: -116px -151px;
				}
				&:hover,
				&:focus {
					.nav-icon {
						background-position: -256px -151px;
					}
				}
			}
			&.specs {
				.nav-icon {
					background-position: -81px -151px;
				}
				&:hover,
				&:focus {
					.nav-icon {
						background-position: -221px -151px;
					}
				}
			}
		}
	}
	#information,
	#technology,
	#video,
	#specifications {
		padding-top: 75px;
		margin-top: -75px;
	}
	.product-technology {
		background: url('../img/weird-science.png') no-repeat top left;
		background-size: 224px 148px;
		background-position: 10% -8px;

		.tech-major {
			max-width: 420px;

			li {
				.title {
					width: 300px;
				}
				.icon {
					width: 120px;
				}
				.description {
					width: 300px;
				}
			}
		}
		.tech-minor {
			max-width: none;
			padding: 0 10px;

			li {
				display: block;
				width: 50%;
				float: left;
				padding: 10px;
			}
		}
	}
	.product-specifications {
		.specs-title,
		.spec-navigation {
			max-width: $breakpoint-medium;
		}
		.spec-listing {
			max-width: $breakpoint-medium;

			.group-1,
			.group-2,
			.group-3 {
				width: 33.3%;
				float: left;

				p {
					float: none !important;
					width: 100% !important;
				}
			}
			.group-1 p,
			.group-2 p,
			.group-3 p {
				width: 100%;
				float: none;
			}
		}
	}
}
@media screen and (min-width: $breakpoint-large) {
	.product-main {
		max-width: $breakpoint-large;
		margin: 0 auto;

		.section-content {
			width: 520px;
		}
		.product-title,
		.product-slogan,
		.product-sizes,
		.product-buy .product-available .form,
		.product-buy .product-available .failure {
			padding: 0;
		}
		.product-title {
			margin: 90px 0 30px;
			
		}
		.product-images {
			position: fixed;
			top: 75px;
			right: 0px;
			width:  $breakpoint-large - 520;
			z-index: 10;
			max-width: none;
			margin: 0;

			.image-list .product-image a img {
				margin-left: -30%;
				width: 160%;
				max-width: none;
			}
			.zoom-icon {
				top: 30px;
				right: 20px;
			}
		}
		.product-sizes {
			margin-bottom: 20px;
		}
		&.zoom-active {
			.section-content {
				width: 100%;
			}
			.product-images {
				position: relative;
				top: 0;
				right: 0;
				width: 100%;

				.image-list .product-image a img {
					margin-left: 0;
					width: 100%;
					max-width: none;
				}
			}
		}
	}
	.product-navigation {
		z-index: 5;

		.nav-container {
			max-width: $breakpoint-large;
			margin: 0 auto;

			ul {
				width: 520px;

				li {
					padding: 0 15px;
				}
			}
		}
	}
	#information,
	#technology,
	#video,
	#specifications {
		padding-top: 94px;
		margin-top: -94px;
	}
	.product-info {
		padding: 60px 20px;

		.section-wrapper {
			max-width: $breakpoint-large;
			margin: 0 auto;

			.section-content {
				max-width: 520px;
			}
		}
	}
	.product-technology {
		max-width: $breakpoint-large;
		margin: 0 auto;
		background-position: 0 -8px;

		.section-content {
			max-width: 520px;
		}
		.h1 {
			padding: 60px 20px 40px;
		}
	}
	.product-video {
		padding: 40px 0;
		background: $white url('../img/bg-grey-triangles.png') center center;

		.section-content {
			max-width: $breakpoint-large;
			margin: 0 auto;

			.video-wrapper {
				width: 520px;
			}
		}		
	}
	.product-specifications {
		.specs-title,
		.spec-navigation {
			max-width: $breakpoint-large;
		}
		.spec-listing {
			max-width: $breakpoint-large;

			.group-1,
			.group-2,
			.group-3 {
				p {
					padding: 0 40px;
				}
			}
		}
	}
}