/* ==========================================================================
   COMPONENTS/_PRODUCT-OVERVIEW.SCSS
   ========================================================================== */

.product-overview {
	.product-header {
		
	}
	.product-utility {
		display: none;
	}
	.product-list {
		text-align: center;
		padding: 10px 0 5px;
		display: block;

		.owl-stage {
			display: inline-block;
		}
		.product {
			width: 150px;
			height: 190px;
			overflow: hidden;
			position: relative;
			display: inline-block;

			.info {
				background: $black;
				background-image: url('../img/bg-overview-title.png');
				height: 35px;
				width: 100%;
				position: absolute;
				bottom: 10px;
				z-index: 2;
				padding: 0 5px;

				/*
					VERTICAL CENTERING
					Check this url for more on vertical centering
					http://css-tricks.com/centering-in-the-unknown/
				*/
				&:before {
					content: '';
					display: inline-block;
					height: 100%;
					vertical-align: middle;
					margin-right: -0.25em; /* Adjusts for spacing */
				}
				.vertical-center {
					display: inline-block;
					vertical-align: middle;
				}
				.name {
					color: $white;
				}
				.detail {
					display: none;
				}
				.price {
					display: none;
				}
			}
			.image {
				width: 150px;
				height: 150px;
				max-width: 150px;
				position: absolute;
				left: 0;
				z-index: 1;
			}
			a:hover,
			a:focus {
				.info {
					.name,
					.detail {
						color: $pink;
					}
				}
			}
		}
	}
}
#mens-snowboards,
#womens-snowboards {
	.product-list .product {
		width: 110px;
		height: 335px;

		.info {
			height: 50px;
		}
		.image {
			width: 335px;
			height: 335px;
			max-width: 335px;
			left: -113px;
		}
	}
}
#mens-team,
#womens-team {
	.product-list .product {
		width: 150px;
		height: 274px;

		.info {
			height: 50px;
		}
		.image {
			width: 274px;
			height: 274px;
			max-width: 274px;
			left: -62px;
		}
	}
}
@media screen and (min-width: $breakpoint-medium) {
	/* Keyframe animations for filtering UI */
	@keyframes open-filters {
		0%   {width: 215px;}
		100% {width: 100%;}
	}
	@-webkit-keyframes open-filters {
		0%   {width: 215px;}
		100% {width: 100%;}
	}
	@-moz-keyframes open-filters {
		0%   {width: 215px;}
		100% {width: 100%;}
	}
	@keyframes show-filter-buttons {
		0%   {display: none; opacity: 0;}
		50%  {display: none; opacity: 0;}
		100% {display: inline-block; opactiy: 1;}
	}
	@-webkit-keyframes show-filter-buttons {
		0%   {display: none; opacity: 0;}
		50%  {display: none; opacity: 0;}
		100% {display: inline-block; opactiy: 1;}
	}
	@-moz-keyframes show-filter-buttons {
		0%   {display: none; opacity: 0;}
		50%  {display: none; opacity: 0;}
		100% {display: inline-block; opactiy: 1;}
	}
	@keyframes show-filter-collection {
		0%   {height: 0px; padding: 0px 10px;}
		100% {height: 44px; padding: 10px;}
	}
	@-webkit-keyframes show-filter-collection {
		0%   {height: 0px; padding: 0px 10px;}
		100% {height: 44px; padding: 10px;}
	}
	@-moz-keyframes show-filter-collection {
		0%   {height: 0px; padding: 0px 10px;}
		100% {height: 44px; padding: 10px;}
	}
	@keyframes show-filter-collection-sizes {
		0%   {height: 0px; padding: 0px 10px;}
		100% {height: 97px; padding: 10px;}
	}
	@-webkit-keyframes show-filter-collection-sizes {
		0%   {height: 0px; padding: 0px 10px;}
		100% {height: 97px; padding: 10px;}
	}
	@-moz-keyframes show-filter-collection-sizes {
		0%   {height: 0px; padding: 0px 10px;}
		100% {height: 97px; padding: 10px;}
	}
	@keyframes show-filter-collection-sizes-wide {
		0%   {height: 0px; padding: 0px 10px;}
		100% {height: 73px; padding: 10px;}
	}
	@-webkit-keyframes show-filter-collection-sizes-wide {
		0%   {height: 0px; padding: 0px 10px;}
		100% {height: 73px; padding: 10px;}
	}
	@-moz-keyframes show-filter-collection-sizes-wide {
		0%   {height: 0px; padding: 0px 10px;}
		100% {height: 73px; padding: 10px;}
	}
	@keyframes show-filter-collection-sizes-womens {
		0%   {height: 0px; padding: 0px 10px;}
		100% {height: 68px; padding: 10px;}
	}
	@-webkit-keyframes show-filter-collection-sizes-womens {
		0%   {height: 0px; padding: 0px 10px;}
		100% {height: 68px; padding: 10px;}
	}
	@-moz-keyframes show-filter-collection-sizes-womens {
		0%   {height: 0px; padding: 0px 10px;}
		100% {height: 68px; padding: 10px;}
	}
	.product-overview {
		.product-utility {
			display: block;
			height: 40px;
			background: url('../img/bg-black-triangles-filter.png');

			.product-filters {
				max-width: $breakpoint-large;
				margin: 0 auto;

				.filter-controls {
					background: url('../img/bg-yellow-triangles-filter.png') center center;
					width: 215px;
					height: 40px;

					.btn-open,
					.btn-filter {
						display: inline-block;
						height: 40px;
						text-transform: uppercase;
						color: $black;
						font-size: 2.4em;
						font-family: $neuron;
						font-weight: 700;
						padding-left: 20px;
						padding-right: 20px;
					}
					.btn-open {
						span {
							width: 15px;
							height: 15px;
							background: url('../img/sprite.png') -345px -10px;
							display: inline-block;
							margin-left: 10px;
						}
						&:hover,
						&:focus {
							color: $purple;

							span {
								background-position: -370px -10px;
							}
						}
					}
					.btn-close,
					.btn-wrapper {
						display: none;
					}
				}
				.filter-collection {
					display: none;
				}
			}
			&.filters-active {
				height: auto;
				min-height: 40px;

				.instructions {
					display: none;
				}
				.product-filters {

					.filter-controls {
						text-align: center;
						position: relative;
						width: 100%;
						overflow: hidden;

						animation: open-filters 500ms ease-out;
						-moz-animation: open-filters 500ms ease-out;
						-webkit-animation: open-filters 500ms ease-out;

						.btn-open {
							display: none;
						}
						.btn-close {
							display: block;
							position: absolute;
							top: 11px;
							right: 11px;
						}
						.btn-wrapper {
							display: inline-block;
							margin: 0 10px;

							animation: show-filter-buttons 1s ease-out;
							-moz-animation: show-filter-buttons 1s ease-out;
							-webkit-animation: show-filter-buttons 1s ease-out;

							.btn-filter:hover,
							.btn-filter:focus {
								color: $blue;
							}
							.btn-remove {
								display: none;
							}
							&.set {
								position: relative;

								.btn-filter {
									font-family: $neuronExtraBold;
									font-weight: 400;
								}
								.btn-remove {
									display: block;
									position: absolute;
									top: 13px;
									right: -5px;
									font-family: $neuron;
									font-size: 1.4em;

									span {
										font-family: $neuronExtraBold;
										padding: 0 2px;
									}
								}
							}
						}
					}
					&.categories .filter-controls .categories .btn-filter,
					&.contours .filter-controls .contours .btn-filter,
					&.sizes .filter-controls .sizes .btn-filter,
					&.pricing .filter-controls .pricing .btn-filter {
						color: $blue;
					}
					.filter-collection {
						text-align: center;
						padding: 10px;
						background: url('../img/bg-yellow-lines.png') center center;
						overflow: hidden;

						.filter-list {
							max-width: 680px;
							margin: 0 auto;
							
							.filter-item {
								display: inline-block;
								margin: 0 10px;

								.btn-option {
									font-family: $neuron;
									font-size: 1.8em;
									text-transform: uppercase;
									height: 24px;

									&:hover,
									&:focus,
									&.selected {
										color: $blue;
									}
								}
							}
						}
					}
					&.categories .filter-collection.categories {
						display: block;

						animation: show-filter-collection 200ms ease-out;
						-moz-animation: show-filter-collection 200ms ease-out;
						-webkit-animation: show-filter-collection 200ms ease-out;
					}
					&.contours .filter-collection.contours {
						display: block;

						animation: show-filter-collection 200ms ease-out;
						-moz-animation: show-filter-collection 200ms ease-out;
						-webkit-animation: show-filter-collection 200ms ease-out;
					}
					&.sizes .filter-collection.sizes {
						display: block;

						animation: show-filter-collection-sizes 300ms ease-out;
						-moz-animation: show-filter-collection-sizes 300ms ease-out;
						-webkit-animation: show-filter-collection-sizes 300ms ease-out;

						.filter-list {
							display: none;
						}
						.btn-size-group {
							font-size: 1.8em;
							font-family: $neuron;
							text-transform: uppercase;
							margin: 0 10px 10px;

							&:hover,
							&:focus {
								color: $blue;
							}
						}
						&.standard,
						&.womens {
							.btn-size-group.standard-width {
								color: $blue;
							}
							.filter-list.standard-widths {
								display: block;
							}
						}
						&.womens {
							animation: show-filter-collection-sizes-womens 300ms ease-out;
							-moz-animation: show-filter-collection-sizes-womens 300ms ease-out;
							-webkit-animation: show-filter-collection-sizes-womens 300ms ease-out;
						}
						&.wide {
							animation: show-filter-collection-sizes-wide 300ms ease-out;
							-moz-animation: show-filter-collection-sizes-wide 300ms ease-out;
							-webkit-animation: show-filter-collection-sizes-wide 300ms ease-out;

							.btn-size-group.wide-width {
								color: $blue;
							}
							.filter-list.wide-widths {
								display: block;
							}
						}
					}
					&.pricing .filter-collection.pricing {
						display: block;

						animation: show-filter-collection 200ms ease-out;
						-moz-animation: show-filter-collection 200ms ease-out;
						-webkit-animation: show-filter-collection 200ms ease-out;
					}
				}
			}
			.instructions {
				display: none;
			}
		}
		.product-list {
			min-height: 400px;

			.product {
				width: 350px;
				height: 400px;

				.info {
					height: 88px;
					bottom: 0;
					padding: 0 10px;

					.detail {
						display: block;
						color: $white;
						text-transform: uppercase;
						margin-bottom: 0.3em;
						line-height: 1em;
					}
					.price {
						display: block;

						p {
							color: $grayLight;
							text-transform: uppercase;
							margin-bottom: 0;
							line-height: 1em;
							font-size: 1.4em;
						}
					}
				}
				.image {
					width: 350px;
					height: 350px;
					max-width: 350px;
					left: 0px;
				}
			}
			.product-none {
				padding-top: 170px;
			}
		}
	}
	.ie-lt9 .product-overview .product-utility .product-filters {
		display: none;
	}
	#mens-snowboards,
	#womens-snowboards {
		.product-list {
			min-height: 665px;

			.product {
				width: 210px;
				height: 640px;

				.info {
					height: 88px;
					bottom: 40px;
				}
				.image {
					width: 640px;
					height: 640px;
					max-width: 640px;
					left: -215px;
				}
			}
			.product-none {
				padding-top: 250px;
			}
		}
	}
	#mens-team,
	#womens-team {
		.product-list .product {
			width: 350px;
			height: 640px;

			.info {
				height: 88px;
				bottom: 40px;
			}
			.image {
				width: 640px;
				height: 640px;
				max-width: 640px;
				left: -145px;
			}
		}
	}
	#mens-snowboards,
	#mens-bindings {
		.product-header .signs {
			.post {
				top: 40px;
			}
			.sign {
				top: 60px;
				@include vendorize(transform, rotate(-8deg));
			}
		}
	}
	#womens-snowboards,
	#womens-bindings {
		.product-header .signs {
			.post {
				top: 60px;
			}
			.sign {
				top: 80px;
				@include vendorize(transform, rotate(8deg));
			}
		}
	}
	#compare-bindings {
		.product-header .signs {
			.post {
				top: 40px;
			}
			.sign.medium {
				top: 50px;
				@include vendorize(transform, rotate(8deg));
			}
			.sign.large {
				top: 100px;
				@include vendorize(transform, rotate(4deg));
			}
		}
	}
	#wearables,
	#headwear {
		.product-header .signs {
			.post {
				top: 40px;
			}
			.sign.small {
				top: 50px;
				@include vendorize(transform, rotate(-4deg));

				a {
					font-size: 0.7em;
					padding: 9px 0 0 22px;
				}
			}
			.sign.large {
				top: 100px;
				@include vendorize(transform, rotate(-8deg));

				a {
					font-size: 0.8em;
					padding: 13px 0 0 22px;
				}
			}
		}
	}
	#headwear,
	#accessories {
		.product-header .signs {
			.post {
				top: 20px;
			}
			.sign.medium {
				top: 35px;
				@include vendorize(transform, rotate(4deg));

				a {
					font-size: 0.8em;
					padding: 8px 0 0 22px;
				}
			}
		}
	}
	#accessories {
		.product-header .signs {
			.post {
				top: 40px;
			}
			.sign.small {
				top: 110px;
				@include vendorize(transform, rotate(4deg));

				a {
					font-size: 0.7em;
					padding: 9px 0 0 22px;
				}
			}
			.sign.medium {
				top: 55px;
				@include vendorize(transform, rotate(8deg));
			}
		}
	}
}
@media screen and (min-width: $breakpoint-large) {
	.product-overview {
		.product-utility {
			position: relative;

			.instructions {
				display: block;
				top: 10px;
				left: 50%;
				margin-left: -105px;
				position: absolute;
				
				img {
					width: 210px;
					height: 20px;
					@include vendorize(opacity, 0);
					@include transition(opacity, 500ms, ease-out);
				}
				&.show img {
					@include vendorize(opacity, 1);
				}
			}
		}
	}
}