/* ==========================================================================
   BASE/_FORMS.SCSS
   ========================================================================== */

// inputs
.input-text {
	border: 1px solid $black;
	margin: 0;
	padding: 0;
	text-align: right;
	font-family: $neuron;
	font-size: 2.4em;
	font-style: italic;
	
	-webkit-font-smoothing: antialiased;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	text-transform: uppercase;

	&:focus {
		outline: none;
	}
}
// buttons
.btn-submit {
	color: $white;
	background: $black;
	border: none;
	margin: 0;
	padding: 0;
	font-family: $neuron;
	text-transform: uppercase;
	font-style: italic;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.btn-close {
	width: 20px;
	height: 20px;
	background: url('../img/sprite.png') no-repeat -258px -10px;

	&.white {
		background-position: -287px -10px;
	}
	&:hover,
	&:focus {
		background-position: -316px -10px;
	}
}