/* ==========================================================================
   BASE/_LINKS.SCSS
   ========================================================================== */

// Inline Text
a {
    color: $black;
    text-decoration: none;
    outline: 0;

    &:hover, &:focus {
        color: $purple;
    }
}
// Box Links
a.green-box {
	color: $black;
	background: $green;

	&:hover,
	&:focus {
		background: $yellow;
	}
}
a.black-box {
	color: $white;
	background: $black;

	&:hover,
	&:focus {
		color: $black;
		background: $yellow;
	}
}