/* ==========================================================================
   BASE/_LINKS.SCSS
   ========================================================================== */

//Inline Text
a {
    color: $gray-dark;
    text-decoration: none;
    outline: 0;

    &:hover, &:focus {
        color: $gray;
    }
}