/* ==========================================================================
   BASE/_LISTS.SCSS
   ========================================================================== */


// Basic Lists
ol {
    margin-left: 1.5em;
}

ul {
    list-style: none;
}


// Definition Lists
dl {
    overflow: hidden;
    margin: 0 0 $space;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 0;
}