/* ==========================================================================
   BASE/_TYPOGRAPHY.SCSS
   ========================================================================== */

body {
	font-size: 62.5%;
	font-family: $neuronLight;
	color: $black;
}
// Headings
h1, .h1 {
	font-family: $neuronExtraBold;
	font-size: 4.8em;
	font-weight: 400;
	line-height: 0.75em;
	text-transform: uppercase;
}
h2, .h2 {
	font-family: $neuronExtraBold;
	font-size: 3em;
	font-weight: 400;
	line-height: 1em;
	text-transform: uppercase;
}
h3, .h3   {
	font-family: $neuron;
	font-size: 2.4em;
	font-weight: 700;
	line-height: 1em;
	text-transform: none;
}
h4, .h4   {
	font-family: $neuron;
	font-size: 1.8em;
	font-weight: 700;
	text-transform: none;
	line-height: 0.78em;
}
h5, .h5 {
	font-family: $neuron;
	font-size: 2.4em;
	font-weight: 400;
	text-transform: none;
	line-height: 1em;
}
// Subheadings
.subheading {
	font-weight: normal;
}
// Paragraphs
p, .p {
	font-family: $neuronLight;
	font-size: 1.8em;
	font-weight: 400;
	line-height: 2em;
	margin-bottom: 2em;
}
p.small {
	font-family: $neuron;
	font-size: 1.4em;
	font-weight: 400;
	line-height: 1.71em;
	margin-bottom: 2em;
}
// Blockquote
blockquote {
	font-style: italic;
	border-left: 1px solid $gray;
	color: $gray;
	padding-left: $pad;
	margin-bottom: $space;
}
// Others
abbr {
	border-bottom: 1px dotted $gray;
	cursor: help;
}

@media screen and (min-width: $breakpoint-medium) {
	h1, .h1, h2, .h2 {
		font-size: 7.2em;
		line-height: 0.7em;
	}
	h3, .h3 {
		font-family: $neuronExtraBold;
		font-size: 3.0em;
		font-weight: 400;
	}
	h4, .h4 {
		font-size: 2.4em;
		line-height: 1em;
	}
	h5, .h5 {
		font-family: $neuronLight;
		font-size: 3.6em;
	}
}