/* ==========================================================================
   BASE/_TYPOGRAPHY.SCSS
   ========================================================================== */

body {
	font-size: 62.5%;
	font-family: $neuronLight;
	color: $black;
}
// Headings
h1, .h1 {
	font-family: $neuronExtraBold;
	font-size: 4.8em;
	font-weight: 400;
	line-height: 1.2;
	text-transform: uppercase;
}
h2, .h2 {
	font-family: $neuronExtraBold;
	font-size: 3em;
	font-weight: 400;
	text-transform: uppercase;
}
h3, .h3   {
	font-family: $neuron;
	font-size: 2.4em;
	font-weight: 700;
	line-height: 1.2;
}
h4, .h4   {
	font-family: $neuron;
	font-weight: 700;
	font-size: 1.8em;
}
h5, .h5 {
	font-family: $neuron;
	font-size: 2.4em;
	font-weight: 400;
}
// Subheadings
.subheading {
	font-weight: normal;
}
// Paragraphs
p {
	margin-bottom: $space;
	font-family: $neuronLight;
	font-size: 1.2em;
	line-height: 1.3em;
	// 18, 14, 12, 12
}
// Blockquote
blockquote {
	font-style: italic;
	border-left: 1px solid $gray;
	color: $gray;
	padding-left: $pad;
	margin-bottom: $space;
}
// Others
abbr {
	border-bottom: 1px dotted $gray;
	cursor: help;
}

@media screen and (min-width: $breakpoint-medium) {
	h1, .h1 {
		font-size: 7.2em;
	}
	h2, .h2 {
		font-size: 7.2em;
	}
	h3, .h3 {
		font-family: $neuronExtraBold;
		font-size: 3.0em;
		font-weight: 400;
	}
	h4, .h4 {
		font-size: 2.4em;
	}
	h5, .h5 {
		font-family: $neuronLight;
		font-size: 3.6em;
	}
	p {
		font-size: 1.4em;
		line-height: 1.6em;
	}
}