/* ==========================================================================
   BASE/_UTILITY.SCSS
   ========================================================================== */


// Display
.block {
    display: block;
}
.hide {
    display: none;
}
.offscreen {
    display: block;
    left: -999999px;
    position: absolute;
    top: -999999px;
}


// Clearfix
.clearfix {
    *zoom: 1;
}
.clearfix:before, .clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


// LINES, HRS, BORDERS
.hr {
    border-top: 1px solid $gray;
    display: block;

    // just a test

    border-radius: 2px;

    hr {
        display: none;
    }
}
