/* ==========================================================================
   HELPERS/_VARIABLES.SCSS
   ========================================================================== */

// Colors
$black: #000;
$white: #FFF;
$gray: #666;
$grayDark: #333;
$grayLight: #999;
$blue: #0099FF;
$purple: #9933CC;
$pink: #FF3399;
$yellow: #FFFF00;
$green: #99CC33;
$red: #ff0000;
$error: #f00;
$valid: #089e00;

// Typography
$neuron: "Neuron", Helvetica, Arial, sans-serif;
$neuronLight: "Neuron Light", Helvetica, Arial, sans-serif;
$neuronExtraBold: "Neuron Extra Bold", Helvetica, Arial, sans-serif;
$neuronBlack: "Neuron Black", Helvetica, Arial, sans-serif;

// Layout
$max-width: 72em;
// $offset-left-1: 4.5em;
// $l-sidebar-width: 19.75em;

// Defaults
$space: 1em;
$space-and-half: $space*1.5;
$space-double: $space*2;
$space-triple: $space*3;
$space-quad: $space*4;
$space-half: $space/2;
$space-quarter: $space/4;
$pad: 1em;
$pad-and-half: $pad*1.5;
$pad-double: $pad*2;
$pad-half: $pad/2;
$pad-quarter :$pad/4;

// Breakpoints
$breakpoint-small: 476px;
$breakpoint-medium: 748.8px;
$breakpoint-large: 1056px;
$breakpoint-xl: 1168px;
$breakpoint-xxl: 1424px;
$breakpoint-xxxl: 1600px;

/*
list of sample breakpoints
$bp-small: 24em; // 384px
$bp-small-2: 29.75em; // 476px
$bp-small-3: 39.8em; // 636.8px
$bp-med: 46.8em; // 748.8px
$bp-med-2: 48em; // 768px
$bp-large: 50em; // 800px
$bp-large-2: 66em; // 1056px
$bp-xl: 73em; // 1168px
$bp-xxl: 89em; // 1424px
$bp-xxxl: 93em; // 1488px
*/
