/* ==========================================================================
   MODULES/_FEATURED-PRODUCTS.SCSS
   ========================================================================== */

.featured-products {
	padding: 20px;
	text-align: center;
	position: relative;
	overflow: hidden;
	//@include vendorize(transform, translateZ(0)); // triggers GPU, Safari fix

	.featured-products-list {
		.featured-product {
			.featured-product-details {
				.featured-product-image {
					padding-bottom: 10px;

					img {
						width: 100%;
						max-width: none;
					}
				}
				.featured-product-copy {
					.featured-product-title {
						margin-bottom: 10px;
					}
					.featured-product-slogan {
						margin-bottom: 40px;
						font-size: 2.4em;
						line-height: 1em;
					}
					.btn-submit {
						display: none;
					}
				}
				a:hover,
				a:focus {
					.featured-product-copy {
						.featured-product-title {
							color: $black;
						}
						.featured-product-slogan {
							color: $black;
						}
						.btn-submit {
							background: $purple;
						}
					}
				}
			}
		}
		.owl-dots {
			position: absolute;
			bottom: 0px;
			width: 100%;

			.owl-dot.active span,
			.owl-dot:hover span {
				background: $green;
			}
		}
	}
}
@media screen and (min-width: $breakpoint-small) {
	.featured-products {
		text-align: left;
		max-width: $breakpoint-large;
		margin: 0 auto;

		.featured-products-list .featured-product {
			.featured-product-details {
				max-width: 640px;
				margin: 0 auto;

				.featured-product-image {
					width: 45%;
					float: left;
					padding-right: 20px;
				}
				.featured-product-copy {
					width: 55%;
					float: right;
					padding-top: 40px;

					.btn-submit {
						display: block;
						font-size: 4em;
						padding-left: 40px;
						padding-right: 40px;
					}
				}
			}
			&.snowboards .featured-product-details .featured-product-image img { // &.apparel .product-details .product-image img
				width: 140%;
				margin-left: -20%;
			}
		}
	}
}