/* ==========================================================================
   MODULES/_PHOTO-SLIDER.SCSS
   ========================================================================== */

.photo-slider {
	display: none;
}
@media screen and (min-width: $breakpoint-medium) {
	.photo-slider {
		display: block;
		position: relative;
		height: 420px;
		//@include vendorize(transform, translateZ(0)); // triggers GPU, Safari fix

		.photo-list {
			.photo-item {
				height: 420px;
				background-repeat: none;
				overflow: hidden;
				background-size: cover;
				background-position: 50% 100%;

				.photo-details {
					margin-top: 200px;
					padding: 0 40px;

					.photo-title {
						text-transform: uppercase;
					}
					.photo-credits {
						line-height: 1em;
					}
					&.light {
						.photo-title,
						.photo-credits {
							color: $white;
						}
					}
					&.right {
						text-align: right;
					}
				}
			}
			.owl-dots {
				position: absolute;
				bottom: 10px;
				width: 100%;
			}
		}
	}
}
@media screen and (min-width: $breakpoint-large) {
	.photo-slider {
		height: 560px;

		.photo-list {
			.photo-item {
				height: 560px;

				.photo-details {
					margin: 270px auto 0;
					max-width: $breakpoint-large;
				}
			}
		}
	}
}