/* ==========================================================================
   MODULES/_PHOTO-SLIDER.SCSS
   ========================================================================== */
.home,
.single-gnu-snowboards,
.single-gnu-bindings,
.single-gnu-apparel
 {
	.photo-slider {
		display: none;
	}
}
.photo-slider {
	position: relative;
	height: 260px;

	.photo-list {
		.photo-item {
			height: 260px;
			background-repeat: none;
			overflow: hidden;
			background-size: cover;
			background-position: 50% 50%;

			.photo-details {
				margin-top: 175px;
				padding: 0 20px;

				.photo-title {
					text-transform: uppercase;
				}
				.photo-credits {
					line-height: 1em;
				}
				&.light {
					.photo-title,
					.photo-credits {
						color: $white;
					}
				}
				&.right {
					text-align: right;
				}
			}
		}
		.owl-dots {
			position: absolute;
			bottom: 10px;
			width: 100%;
		}
	}
}
@media screen and (min-width: $breakpoint-small) {
	.photo-slider {
		height: 300px;

		.photo-list {
			.photo-item {
				height: 300px;
			}
		}
	}
}
@media screen and (min-width: $breakpoint-medium) {
	.home,
	.single-gnu-snowboards,
	.single-gnu-bindings,
	.single-gnu-apparel {
		
		.photo-slider {
			display: block;
			}
	}
	.photo-slider {
		height: 420px;

		.photo-list {
			.photo-item {
				height: 420px;

				.photo-details {
					margin-top: 200px;
					padding: 0 40px;
				}
			}
		}
	}
}
@media screen and (min-width: $breakpoint-large) {
	.photo-slider {
		height: 560px;
		//@include vendorize(transform, translateZ(0)); // triggers GPU, Safari fix

		.photo-list {
			.photo-item {
				height: 560px;
				background-position: 50% 100%;

				.photo-details {
					margin: 270px auto 0;
					max-width: $breakpoint-large;
				}
			}
		}
	}
}
@media screen and (min-width: $breakpoint-xl) {
	.photo-slider {
		height: 600px;

		.photo-list .photo-item {
			height: 600px;
		}
	}
}
@media screen and (min-width: $breakpoint-xxl) {
	.photo-slider {
		height: 640px;

		.photo-list .photo-item {
			height: 640px;
		}
	}
}
@media screen and (min-width: $breakpoint-xxxl) {
	.photo-slider {
		height: 720px;

		.photo-list .photo-item {
			height: 720px;
		}
	}
}